/* You can add global styles to this file, and also import other style files */
html{
    box-sizing: border-box;
    font-size: 80%;
  }
  
  *,*::after,*::before{
    box-sizing: inherit;
  }
  
  body{
    margin: 0;
    font-family: sans-serif;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }