<main class="container">
    <h1>Notes List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>
                    <button class="btn"  (click)="toggleFilter()">Toggle Archived</button>
                </th>
            </tr>
        </thead>
        <tbody id="notes">
            <tr *ngFor="let item of noteList">
                <td>{{item?.title}}</td>
                <td>{{item?.content}}</td>
                <td>{{item?.category}}</td>
                <td>{{item?.archived ? 'Archived' : 'Active'}}</td>
                <td><a class="edit" [routerLink]="['/edit', item.id]">Edit</a></td>
                <td><a class="erase" href="" (click)="deleteNote(item.id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
</main>